Checks:
    '*,
    -abseil-*,
    -altera-*,
    -android-*,
    -boost-*,
    -bugprone-easily-swappable-parameters,
    -darwin-*,
    -fuchsia-trailing-return,
    -linuxkernel-*,
    -llvmlibc-*,
    -mpi-*,
    -objc-*,
    -openmp-*,
    -readability-identifier-length,
    -zircon-*'

CheckOptions:
    readability-identifier-naming.ClassCase: CamelCase
    readability-identifier-naming.ConstantCase: camelBack
    readability-identifier-naming.EnumCase: CamelCase
    readability-identifier-naming.FunctionCase: camelBack
    readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
    readability-identifier-naming.NamespaceCase: CamelCase
    readability-identifier-naming.ParameterCase: camelBack
    readability-identifier-naming.PrivateMemberCase: camelBack
    readability-identifier-naming.PrivateMemberPrefix: m_
    readability-identifier-naming.StaticConstantCase: camelBack
    readability-identifier-naming.StaticConstantPrefix: s_
    readability-identifier-naming.StaticVariableCase: camelBack
    readability-identifier-naming.StaticVariablePrefix: s_
    readability-identifier-naming.StructCase: CamelCase
    readability-identifier-naming.TemplateParameterCase: CamelCase
    readability-identifier-naming.TypeAliasCase: CamelCase
    readability-identifier-naming.VariableCase: camelBack

FormatStyle: file
